.lista_card{
    background-color: rgb(186, 186, 189);
    padding: 20px;
    margin: 20px;
}
.card{
    border: 8px solid;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    background-color: aquamarine ;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
}