h1{
    color: brown;
}

body{
    display:flex;
    gap: 5px;
    flex-direction:row;
    padding: auto;
}

.t1{
    color: #000000;
}

.div{
    border: 1px solid #000;
    background-color: rgba(195, 228, 229, 0.828);
    padding: 10px 5px 10px 5px;
    justify-content: center;
    width: fit-content;
}